.search{
    margin-top: 20px;
    margin-left: -430px;
}

.budget{
    margin-top: 15px;
    margin-right: -400px;
    font-size:30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}